{% extends 'base.html' %}

{% block content %}

<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col-md-5">
      <img id="hero-img" src="/static/images/heroimg.png" alt="Guitar strings">
    </div>
    <div class="col-md-7 text-right">
      <h1 class="display-4">SongStash helps you manage your music</h1>
      <h5>Search covers. Add originals. Jam with confidence.</h5>
      <a class="btn btn-lg btn-dark d-block w-50 ml-auto mt-3" href="/signup">Let's Rock 🤘</a>
    </div>
  </div>
</div>

{% endblock %}